{# src/SR/BlogBundle/Resources/views/Event/index.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}
          <h2> Nos évenements</h2>

<div class="space">

  <p><a href="{{path('sr_blog_evenement_add')}}" class="bouton">Nouvel Evénement</a></p>
  <p><a href="{{path('sr_blog_evenement_add_category')}}" class="bouton2">Type Evénement</a></p>
 
</div>
<br><br>
         
<ul>

  {% if listEvent is empty %}
    <p>Aucun événement</p>
  {% else %}

  	{%for event in listEvent%}
  	<li class="list-group-item">
      <div class="event_bloc_index">
      {{event.postDate| localizeddate('medium', 'none')}}
      </div>
      <div class="event_bloc_index_contenu">
         <a href= "{{path('sr_blog_evenement_view',{'id': event.id})}}">{{event.title}}</a>
      </div>
    </li>
       <div class="btn-group">
      <button type="button" class="btn btn-danger btn-xs">Action</button>
      <button type="button" class="btn btn-danger btn-xs dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
      </button>

      <ul class="dropdown-menu" role="menu">
        
        <li><a href="{{path('sr_blog_evenement_update',{'id': event.id})}}">Editer</a></li>
        <li class="divider"></li>
        <li><a href="{{path('sr_blog_evenement_delete',{'id': event.id})}}">Supprimer</a></li>
      </ul>
  
    </div>
  	{%endfor%}

  {% endif %}


</ul>

<ul class="pagination">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
  {% for p in range(1, nbPages) %}
    <li{% if p == page %} class="active"{% endif %}>
      <a href="{{ path('sr_blog_evenement', {'page': p}) }}">{{ p }}</a>
    </li>
  {% endfor %}
</ul>


{% endblock %}