{# src/SR/BlogBundle/Resources/views/Event/view.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}
   
<div class="contenu_static">    
        
    <h1 class="event_type">{{event.eventCategory.name}}</h1>
    <h3> {{event.title}}</h3>

    <img class="image_event"src="{{ asset(event.image.webPath) }}" alt="{{ event.image.alt }}"/>
    <div class="resume_film_encadre">
        <p class="resume_film_contenu"><span class="quand_resume">Quand :</span> Le {{event.eventStartDate| localizeddate('full', 'none')}} à {{event.eventStartDate|date("H:i")}}</p>
        <p class="resume_film_contenu"><span class="quand_resume">Où :</span> <span id="adresse">{{event.eventLocation}}</span></p>
        
        <p class="resume_film_contenu"><span class="quand_resume">Participation aux frais:</span>       {{event.eventRate}}</p>
        <p class="resume_film_contenu"><span class="quand_resume">Invités: </span>    {{event.eventGuest}}</p>

    </div>

    <div id="map-canvas"></div>

    <p>{{event.content| raw}}</p>


<ul class="bloc_movies">
         {%for movie in event.movies %}
            {% if event.movies| length < 2 %}  
                <h3 class="film_projete">Film projeté</h3>
            {% else %} 
                <h3 class="film_projete">Film projeté N°{{ loop.index }}</h3>
            {% endif %}
                <h3 class="movie_title">{{ movie.title|e }}</h3>
                <p class="movie_author">de {{ movie.author|e }} ({{ movie.year|e }})  {{ movie.duration|date('H\\hi\\m\\i\\n')}}</p>
              
               
                
                <img class="image_post"src="{{ asset(movie.image.webPath) }}" alt="{{ movie.image.alt }}"/><br>
                <p>{{ movie.movieContent|raw }}</p>
                <h3> A propos de {{ movie.author|e }}</h3>
                <p>{{ movie.authoBio|e }}</p>

   		 {% endfor %}

</ul>
    <a class="bouton" href="{{path('sr_blog_evenement_update',{'id': event.id})}}">Modifier</a>
    <a class="bouton2" href="{{path('sr_blog_evenement_delete',{'id': event.id})}}">Supprimer</a><br><br>

         
    {% include'SRBlogBundle:Comment:index.html.twig' with { 'comments': comments }%}

        <h3>Ajouter un commentaire</h3>
    {% render(controller('SRBlogBundle:Comment:new', { 'item' : event } )) %}
</div>  


{% endblock %}