<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <title>La page demandée n'existe pas</title>
          <link href="{{ asset('bootstrap/less/bootstrap.less') }}" type="text/css" rel="stylesheet/less" />
    </head>
    <body>

        <style>
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
        </style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Cette page n'existe pas ou n'existe plus</h2>
                <div class="error-details">
                    Désolé la page que vous souhaitez n'est pas disponible. Elle a été effacée ou ceci est un lien mort ou juste une mauvaise URL. Nous vous invitons à revenir à notre page d'accueil en cliquant sur "Aller à l'accueil". Merci.
                </div>
                <div class="error-actions">
                    <a href="{{path('sr_blog_home')}}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Aller à l'accueil </a><a href="{{path('sr_blog_contact')}}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contacter le Support </a>
                </div>
            </div>
        </div>
    </div>
</div>
  <script src="{{asset('less/dist/less.js')}}"></script>
    </body>
</html>
