{# src/SR/BlogBundle/Resources/views/News/index.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}
          <h2> Nos articles</h2></br>

<p>Cette section contient les articles écrits par les contributeurs d’Ahuefa.
Si vous souhaitez vous aussi écrire un article, vous pouvez contacter Ahuefa pour obtenir le statut de contributeur.</p>
 
<div class="space">

{% if is_granted('ROLE_MODERATEUR') %}
  <p><a href="{{path('sr_blog_article_add')}}" class="bouton">Nouvel article</a></p>
  <p><a href="{{path('sr_blog_article_addCategory')}}" class="bouton2">Nouvel catégorie</a></p>
{% endif %}
</div>
<br>

	{%for news in listNews%}
  	<li class="list-group-item bloc_news">
      {% if news.image.id is defined %}
        <img  class="image_news_minature"src="{{ asset(news.image.webPath| apply_filter('miniature')) }}" alt="{{ news.image.alt }}"/>
      {% endif %}

      <a class="titre_index" href= "{{path('sr_blog_article_view',{'slug': news.slug})}}">  {{news.title}} </a> 
      <br>
      <p class="auteur_index"> écrit par {{news.user.username}} le {{news.newsDate|date("d/m/Y") }} </p><br>

    </li>
    <li class="list-group-item">
     {{news.content[:300] |striptags|raw }} ...
     <a  href= "{{path('sr_blog_article_view',{'slug': news.slug})}}">Lire</a>
   </li>

     
  {% if is_granted('ROLE_MODERATEUR') %}

     <div class="btn-group">
        <button type="button" class="btn btn-danger btn-xs">Action</button>
        <button type="button" class="btn btn-danger btn-xs dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
        </button>

        <ul class="dropdown-menu" role="menu">
          
          <li><a href="{{path('sr_blog_article_update',{'slug': news.slug})}}">Editer</a></li>
          <li class="divider"></li>
          <li><a href="{{path('sr_blog_article_delete',{'slug': news.slug})}}">Supprimer</a></li>
        </ul>
    
      </div>
  {% endif %}
    </br>
    </br>

        {% if is_granted('ROLE_MODERATEUR') %}
        
        {% endif %}

    </li>
	{%endfor%}


</ul>

<ul class="pagination">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
  {% for p in range(1, nbPages) %}
    <li{% if p == page %} class="active"{% endif %}>
      <a href="{{ path('sr_blog_article', {'page': p}) }}">{{ p }}</a>
    </li>
  {% endfor %}
</ul>






{% endblock %}