{# src/SR/BlogBundle/Resources/views/News/view.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}

       
	<h1>{{news.title}}</h1>
	<p>Par : {{news.user.username}} le {{news.newsDate|date("d/m/Y") }}</p>

	{% if news.image.id is defined %}
		<img  class="image_post"src="{{ asset(news.image.webPath| apply_filter('thumbnail_filter')) }}" alt="{{ news.image.alt }}"/>
	{% endif %}

		         {{news.content| raw}}
		 	

{% if is_granted('ROLE_MODERATEUR') %}     
	<a class="bouton" href="{{path('sr_blog_article_update',{'slug': news.slug})}}">Modifier</a>
	<a class="bouton2" href="{{path('sr_blog_article_delete',{'slug': news.slug})}}">Supprimer</a><br><br>
{% endif %}
		
		

	{% include'SRBlogBundle:Comment:indexNews.html.twig' with { 'comments': comments }%}


<h3>Ajouter un commentaire</h3>
{% if is_granted('ROLE_USER') %}
    {% render(controller('SRBlogBundle:Comment:newNews', { 'news' : news } )) %}

{% else %}
 <p>Vous devez être enregistré pour laisser un commentaire.</p>
{% endif %}
		
{% endblock %}