{% extends "SRBlogBundle::layout.html.twig" %}

		{% if news.image.id is defined %}
			{% set image = asset(news.image.webPath) %}
        {% endif %}

        {% block og %}
            {{ parent() }}

			<meta property="og:url"           content="{{ app.request.uri }}" />
			<meta property="og:type"          content="website" />
			<meta property="og:title"         content="AHUEFA" />
			<meta property="og:description"   content="{{news.title}}" />
            {% if news.image.id is defined %}
				<meta property="og:image"         content="{{ asset(news.image.webPath) }}" />
            {% endif %}
        {% endblock %}



{% block content %}

	<h1>{{news.title}}</h1>
	<!-- Your share button code -->
	<div class="fb-share-button"
		 data-href="{{ app.request.uri }}"
		 data-layout="button_count">
	</div>
	<p>Par : {{news.auteur}} le {{news.newsDate|date("d/m/Y") }}</p>

	<div class="row">
		<div class="col-md-12">
		{% if news.image.id is defined %}
			<img  class="image_post img-responsive"src="{{ asset(news.image.webPath) }}" alt="{{ news.image.alt }}"/>
		{% endif %}
		</div>
		<div class="text-justify">
			{{news.content| raw}}
		</div>
	</div>
	{% if is_granted('ROLE_MODERATEUR') %}
		<p><a href="javascript:;" data-target="#updateNewsModal"  data-toggle="modal" class="bouton">Modifier</a></p>
		<p><a href="javascript:;" data-target="#deleteNewsModal" data-toggle="modal" class="bouton2">Supprimer</a></p>
	{% endif %}

	{#BLOC COMMENTAIRE#}
	<br>
	{% include'SRBlogBundle:Comment:indexNews.html.twig' with { 'comments': comments }%}

	<h3>Ajouter un commentaire</h3>
	{% if is_granted('ROLE_USER') %}
		{% render(controller('SRBlogBundle:Comment:newNews', { 'news' : news } )) %}
	{% else %}
		<p>Vous devez être connecté pour laisser un commentaire.</p>
	{% endif %}

	{#MODAL MODIFIER ARTICLE#}
	<div class="modal fade" id="updateNewsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
	{#MODAL SUPPRIMER CATEGORIE ARTICLE#}
	<div class="modal fade" id="deleteNewsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

	<!-- Load Facebook SDK for JavaScript -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		(function(){

			$("#updateNewsModal").on('show.bs.modal', function(e){
				$.ajax({
					url :  Routing.generate('sr_blog_article_update', {slug: '{{news.slug}}'} ),
					type : 'GET',
					success : function(html, statut){ // code_html contient le HTML renvoyé
						$("#updateNewsModal").html(html);
						datepicker();
						wysiwyg();

					},
					error : function(resultat, statut, erreur){
						console.log("La requète n'a pas abouti")
					}
				});
			});

			$("#deleteNewsModal").on('show.bs.modal', function(e){

				$.ajax({
					url :  Routing.generate('sr_blog_article_delete', {slug: '{{news.slug}}'} ),
					type : 'GET',
					success : function(html, statut){ // code_html contient le HTML renvoyé
						$("#deleteNewsModal").html(html);
					},
					error : function(resultat, statut, erreur){
						console.log("La requète n'a pas abouti")
					}
				});
			});

			{# Fonction qui permet d'utiliser le datepicker bootstrap dans une modal #}
			var datepicker =  function (){

				$('.datepicker').datepicker({
					dateFormat: "dd-mm-yy"
				});
				//Ce code permet d'éviter que l'utilisation du datepicker déclenche l'évenement show.bs.modal.
				$(".datepicker").datepicker().on('show.bs.modal', function(event) {
					event.stopPropagation();
				});
			};

			var wysiwyg = function (){
				$('#sr_blogbundle_news_content').wysihtml5({
					"font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
					"emphasis": true, //Italics, bold, etc. Default true
					"lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
					"html": false, //Button which allows you to edit the generated HTML. Default false
					"link": true, //Button to insert a link. Default true
					"image": true, //Button to insert an image. Default true,
					"color": true //Button to change color of font
				});
			};

		})();

	</script>
{% endblock %}