{% extends "SRBlogBundle::layout.html.twig" %}
{% block title %}AHUEFA International France - Association loi 1901{% endblock %}

{% block carousel %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="{{ asset('bundles/srblog/images/mediation_ethnoclinique.jpg') }}" alt="mediation_ethnoclinique">
        <div class="caption">
          <h3>Médiation Ethnoclinique</h3>
          <p>
            Dispositif psychothérapeutique à trois pôles
            intégrant l’équipe d’AHUEFA (psychologues
            cliniciens, médecin, interprète/référent culturel),
            la famille en souffrance et ses référents
            institutionnels. Consultation transculturelle visant la co-construction de sens entre divers univers
            culturels.
          </p>
          <p><a href="{{path('sr_blog_actions_mediation')}}" class="btn btn-primary" role="button">Découvrir</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="{{ asset('bundles/srblog/images/suivi_individuel.jpg') }}" alt="suivi_individuel">
        <div class="caption">
          <h3>Suivi individuel</h3>
          <p>
            Accueil d'enfants, d'adolescents et/ou d'adultes dans le cadre de consultation psychologique ou
            psychothérapeutique.
          </p>
          <p><a href="{{ path('sr_blog_actions_consultation') }}" class="btn btn-primary" role="button">Découvrir</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="{{ asset('bundles/srblog/images/visite_mediatisee.jpg') }}" alt="visite_mediatisee">
        <div class="caption">
          <h3>Visite médiatisée </h3>
          <p>
            Mise à disposition d'un espace en présence de psychologues pour des droits de visite dans le cadre d'une ordonnance du juge
          </p>
          <p><a href="{{ path('sr_blog_actions_visite_mediatisee') }}" class="btn btn-primary" role="button">Découvrir</a></p>
        </div>
      </div>
    </div>

</div>
<div class="row">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ asset('bundles/srblog/images/voyage_transculturel.jpg') }}" alt="...">
      <div class="caption">
        <h3>Voyage transculturel</h3>
        <p>
          Ciné-débats afin de penser la diversité
          culturelle en relation avec le développement
          dans la cité. Participation d’artistes
          (réalisateurs, plasticiens,
          musiciens, performeurs)
        </p>
        <p><a href="{{path('sr_blog_actions_voyage_transculturel')}}" class="btn btn-primary" role="button">Découvrir</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ asset('bundles/srblog/images/formation_seminaire.jpg') }}" alt="seminaire_et_formation">
      <div class="caption">
        <h3>Séminaire / Formations</h3>
        <p>
          Séminaire sur les enjeux de la clinique
          contemporaine (identités, précarités, radicalités,
          laïcité…)
          Formation à la clinique transculturelle
          des futurs psychologues.
          Formation d’interprètes.
        </p>
        <p><a href="{{path('sr_blog_seminaire_formation')}}" class="btn btn-primary" role="button">Découvrir</a></p>
      </div>
    </div>
  </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="{{ asset('bundles/srblog/images/groupes_parole.jpg') }}" alt="groupes_de_parole">
        <div class="caption">
          <h3>Groupes de parole</h3>
          <p>
            Mise en place d'un espace d'échanges et de réflexion sur le thème de la parentalité.
          </p>
          <p><a href="{{path('sr_blog_groupes_parole')}}" class="btn btn-primary" role="button">Découvrir</a></p>
        </div>
      </div>
    </div>
</div>
{% endblock %}