{% extends "SRBlogBundle::layout.html.twig" %}

{% block content %}
<div class="contenu_static">
	<h2> Resultats de la recherche</h2>
	<h3>Les articles contenant: {{content}} </h3>
	{% if listNews is empty %}
		<p>Aucun article correspond à votre recherche</p>
	{% else %}
		{% for news in listNews %}
			<ul>
				<li><a href="{{path('sr_blog_article_view',{'slug': news.slug})}}">{{news.title}}</a></li>
			</ul>
		{% endfor %}
	{% endif%}

	<h3>Les événement contenant : {{content}} </h3>
	{% if listEvents is empty %}
		<p>Aucun événement correspond à votre recherche</p>
	{% else %}
		{% for event in listEvents %}
			<ul>
				<li><a href="{{path('sr_blog_evenement_view',{'slug': event.slug})}}">{{event.title}}</a></li>
			</ul>
		{% endfor %}
	{% endif%}
</div>
{% endblock %}